#services {
	width: 700px;
	position: absolute;
	left: calc(50% - 350px);
	top: 100px;
}

.service {
	border-radius: 3px;
	background-color: white;
	padding: 15px 15px 15px 15px;
}

/* Line one */

.service-name {
	font-size: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline;
}

.service-crash-time {
	font-style: italic;
}

/* Line two */

.service-line-two {
	margin-top: 10px;
}

.service-forward-rules {
	display: inline;
}

.service-executables {
	display: inline;
}

/* Controls */

.service-controls {
	position: absolute;
	right: 0;
	top: 0;
}

.start-stop {
	display: inline;
	background-color: #f00;
	border: none;
	outline: 0;
	font-size: 20px;
	color: white;
	height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 10px;
}
