#generate {
	position: relative;
	font-size: 20px;
	width: 130px;
	height: 36px;
	border-radius: 20px;
	background-color: #64bcd4;
	overflow: hidden;
	margin-top: 15px;
}

#generate label {
	position: absolute;
	text-align: center;
	height: 36px;
	width: 100%;
	color: white;
	line-height: 36px;
	-webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

#generate .random {
	transform: translate(130px, 0px);
	-webkit-transform: translate(130px, 0px);
}

#generate:hover .normal {
	-webkit-transform: translate(-130px, 0);
}

#generate:hover .random {
	-webkit-transform: translate(0, 0);
}