#general {
  position: absolute;
  left: calc(50% - 350px);
  top: 70px;
  width: 680px;
  min-height: calc(100% - 90px);
  padding: 10px 10px 10px 10px;
  background-color: white;
}

label {
  display: inline-block;
  width: 300px;
  padding-right: 5px;
  text-align: right;
}

input[type="submit"], .chpass-error, .chpass-success {
  margin-left: 305px;
}

.chpass-error {
  display: inline-block;
  color: red;
}

.chpass-success {
  display: inline-block;
  color: green;
}
