#metrics-viewer {
    text-align: center;
}

.window-select {
    width: 150px;
}

table {
    margin: 10px auto;
}

.field {
    text-align: right;
}

.by-host {
    border-collapse: collapse;
}

.by-host th,
.by-host td {
    border: 1px solid #d5d5d5;
    padding: 8px;
}