body, html {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif !important;
  background-color: #f0f0f0;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  border-bottom: 3px solid #d6d6d6;
  background-color: white;
  z-index: 1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  pointer-events: none;
}

#header h1::before {
  content: '.';
  color: transparent;

  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;

  display: block;
  background-image: url('../images/icon.svg');
  background-repeat: none;
  background-size: 40px 40px;
}

#header h1 {
  position: absolute;
  display: block;
  top: 0;
  height: 60px;
  left: 60px;
  line-height: 60px;

  font-size: 40px;
  font-weight: bold;

  margin: 0;
  padding: 0;
}

#header ul {
  list-style-type: none;
  position: absolute;
  display: block;
  top: 0;
  right: 20px;
  height: 60px;
  line-height: 60px;
  padding: 0;
  margin: 0;
}

#header li {
  display: block;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  color: #777;
  font-size: 18px;
}

#header li a {
  display: inline-block;
  text-decoration: none;
  color: #777;
  height: 100%;
}

#header li.current {
  border-bottom: 3px solid #64bcd4;
}

input, button {
  font-family: inherit;
}

.main-content {
  z-index: 0;
  position: absolute;
  left: calc(50% - 350px);
  top: 70px;
  width: 680px;
  min-height: calc(100% - 90px);
  padding: 10px 10px 10px 10px;
  background-color: white;
}
