#tasks {
  position: absolute;
  left: calc(50% - 350px);
  top: 70px;
  width: 680px;
  min-height: calc(100% - 90px);
  padding: 10px 10px 10px 10px;
  background-color: white;
}

.no-tasks {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: #777;
  text-align: center;
}
