.main-content {
  background-color: transparent;
}

.no-tasks {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  color: #777;
  text-align: center;
}

#add-button {
  color: transparent;
  background-color: #db4437;
  border-radius: 28px;
  width: 56px;
  height: 56px;
  border: none;
  position: fixed;
  bottom: 23px;
  right: 23px;
  cursor: pointer;

  background-image: url('../images/plus.svg');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);

  transition: box-shadow 0.25s ease, background-color 0.25s ease;
  -webkit-transition: box-shadow 0.25s ease, background-color 0.25s ease;
}

#add-button:hover {
  background-color: #e06055;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

#add-button:focus {
  outline: none;
}

.task {
  position: relative;
  padding: 15px 15px 15px 15px;
  background: white;
  text-align: left;
  line-height: 32px;
  box-sizing: border-box;
  height: 62px;
  box-shadow: 2px 2px 5px rgba(144, 144, 144, 0.5);
  margin-bottom: 20px;
}

.args {
  cursor: pointer;

  float: left;
  display: inline-block;
  font-weight: bold;

  color: black;
  text-decoration: none;

  max-width: calc(100% - 250px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action {
  height: 32px;
  width: 120px;
  float: right;

  text-decoration: none;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  color: white;

  border: none;
  cursor: pointer;
}

.action-stopped {
  background-color: #71e586;
}

.action-running {
  background-color: #cd0000;
}

.action-restarting {
  background-color: #fcb514;
}

.delete {
  position: absolute;
  left: calc(100% + 10px);
  top: calc(50% - 16px);

  display: block;
  width: 32px;
  height: 32px;

  margin: 0;
  padding: 0;

  color: transparent;

  background-color: transparent;
  background-image: url('../images/delete.svg');
  background-size: 32px 32px;
  cursor: pointer;
}
