.task-editor-argument {
  text-align: center;
}

.task-editor-fields {
  margin: 10px 0;
}

.task-editor-directory {
  width: 200px;
}

.task-editor-env-key {
  width: 80px;
  margin-left: 218px;
  margin-right: 5px;
  box-sizing: border-box;
}
