.task-editor-heading {
  position: relative;
  left: calc(50% - 75px);
  width: 150px;
  height: 40px;
}

.task-editor-title {
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;

  height: 40px;

  font-size: 20px;
  line-height: 40px;
}

.task-editor-add-button {
  float: right;
  height: 30px;
  width: 30px;

  margin: 5px 0 0 0;
  padding: 0;
  color: transparent;
  border: none;

  cursor: pointer;

  border-radius: 15px;
  background-color: red;
  background-image: url('../images/plus.svg');
  background-size: 14px 14px;
  background-position: center center;
  background-repeat: no-repeat;
}

.task-editor-add-argument-button:focus {
  outline: 0;
}

.task-editor-argument {
  text-align: center;
}

.task-editor-fields {
  margin: 10px 0;
}

.task-editor-directory {
  width: 200px;
}

.task-editor-env-key {
  width: 80px;
  margin-left: 218px;
  margin-right: 5px;
  box-sizing: border-box;
}
