.named-key-cert-pair {
  margin-bottom: 10px;
}

.root-ca {
  text-align: center;
  margin-bottom: 10px;
}

.root-ca textarea {
  display: block;
  width: 200px;
  height: 50px;
  resize: none;
  position: relative;
  left: calc(50% - 100px);
  border: 1px solid #d5d5d5;
}

.https-redirect-host {
  text-align: center;
}

.acme-settings {
  margin-top: 10px;
}

.acme-host {
  text-align: center;
}
