<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule Add Task</title>
    <link href='assets/fonts/roboto/imports.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/fields.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/task_editor.css">
    <script type="text/javascript" src="assets/scripts/jquery.js"></script>
    <script type="text/javascript" src="assets/scripts/task_editor.js"></script>
    <script type="text/javascript" src="assets/scripts/add_task.js"></script>
  </head>
  <body>
    <div id="header">
      <h1>Goule</h1>
      <ul>
        <li class="current">Tasks</li>
        <li class="other"><a href="/rules">Proxy Rules</a></li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="other"><a href="/general">General</a></li>
      </ul>
    </div>

    <div class="main-content">
      {{#error}}
      <div id="error">{{error}}</div>
      {{/error}}
      <div id="add-task-fields"></div>
      <button class="unlabeled-field" id="submit">Submit</button>
    </div>
  </body>
</html>
