<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule General</title>
    <link href='assets/fonts/roboto/imports.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/fields.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/general.css">
  </head>
  <body>
    <div id="header">
      <h1>Goule</h1>
      <ul>
        <li class="other"><a href="/">Tasks</a></li>
        <li class="other"><a href="/rules">Proxy Rules</a></li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="current">General</li>
      </ul>
    </div>

    <div class="main-content">

      <form action="/general" method="POST">
        <label class="field-label">HTTP Port:</label><input name="http" value="{{http}}">
        <br>
        <label class="field-label">HTTPS Port:</label><input name="https" value="{{https}}">
        <br>
        <label class="field-label">Start HTTP:</label><input name="starthttp" type="checkbox"
          value="On" {{#startHTTP}}checked{{/startHTTP}}>
        <br>
        <label class="field-label">Start HTTPS:</label><input name="starthttps" type="checkbox"
          value="On" {{#startHTTPS}}checked{{/startHTTPS}}>
        <br>
        <input type="submit" class="unlabeled-field">
      </form>

      <br>

      {{#httpRunning}}
      <label class="field-label">HTTP server is running on port {{httpPort}}.</label>
      <a href="/http?action=stop">Stop</a>
      {{/httpRunning}}
      {{^httpRunning}}
      <label class="field-label">HTTP server is stopped.</label>
      <a href="/http?action=start">Start</a>
      {{/httpRunning}}

      <br>

      {{#httpsRunning}}
      <label class="field-label">HTTPS server is running on port {{httpsPort}}.</label>
      <a href="/https?action=stop">Stop</a>
      {{/httpsRunning}}
      {{^httpsRunning}}
      <label class="field-label">HTTPS server is stopped.</label>
      <a href="/https?action=start">Start</a>
      {{/httpsRunning}}

      <br><br>

      <form action="/chpass" method="POST">
        <label class="field-label">Old:</label><input name="old" type="password"
          autocomplete="off">
        <br>
        <label class="field-label">New:</label><input name="new" type="password"
          autocomplete="off">
        <br>
        <label class="field-label">Confirm:</label><input name="confirm" type="password"
          autocomplete="off">
        <br>
        {{#chpassError}}
        <div class="chpass-error unlabeled-field">{{chpassError}}</div>
        {{/chpassError}}
        {{#chpassSuccess}}
        <div class="chpass-success unlabeled-field">{{chpassSuccess}}</div>
        {{/chpassSuccess}}
        <input type="submit" value="Change Password" class="unlabeled-field">
      </form>

    </div>
  </body>
</html>
