<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule General</title>
    <link href='assets/fonts/roboto/imports.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/fields.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/general.css">
  </head>
  <body>
    <div id="header">
      <h1>Goule</h1>
      <ul>
        <li class="other"><a href="/">Tasks</a></li>
        <li class="other"><a href="/rules">Proxy Rules</a></li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="current"><a href="/general">General</a></li>
      </ul>
    </div>

    <div class="main-content">
      <form action="/general" method="POST">
        <div class="field">
          <label class="input-field-label">HTTP Port:</label>
          <input class="input-field-input" name="http" value="{{http}}">
        </div>
        <div class="field">
          <label class="input-field-label">HTTPS Port:</label>
          <input class="input-field-input" name="https" value="{{https}}">
        </div>
        <div class="field">
          <label class="generic-field-label">Start HTTP:</label>
          <input class="generic-field-content" name="starthttp" type="checkbox"
            value="On" {{#startHTTP}}checked{{/startHTTP}}>
        </div>
        <div class="field">
          <label class="generic-field-label">Start HTTPS:</label>
          <input class="generic-field-content" name="starthttps" type="checkbox"
            value="On" {{#startHTTPS}}checked{{/startHTTPS}}>
        </div>
        <input type="submit" class="unlabeled-field">
      </form>

      <br>

      {{#httpRunning}}
      <div class="field">
        <label class="generic-field-label">HTTP server is running on port {{httpPort}}.</label>
        <a class="generic-field-content" href="/http?action=stop">Stop</a>
      </div>
      {{/httpRunning}}
      {{^httpRunning}}
      <div class="field">
        <label class="generic-field-label">HTTP server is stopped.</label>
        <a class="generic-field-content" href="/http?action=start">Start</a>
      </div>
      {{/httpRunning}}

      {{#httpsRunning}}
      <div class="field">
        <label class="generic-field-label">HTTPS server is running on port {{httpsPort}}.</label>
        <a class="generic-field-content" href="/https?action=stop">Stop</a>
      </div>
      {{/httpsRunning}}
      {{^httpsRunning}}
      <div class="field">
        <label class="generic-field-label">HTTPS server is stopped.</label>
        <a class="generic-field-content" href="/https?action=start">Start</a>
      </div>
      {{/httpsRunning}}

      <br><br>

      <form action="/chpass" method="POST">
        <div class="field">
          <label class="input-field-label">Old:</label>
          <input class="input-field-input" name="old" type="password" autocomplete="off">
        </div>
        <div class="field">
          <label class="input-field-label">New:</label>
          <input class="input-field-input" name="new" type="password" autocomplete="off">
        </div>
        <div class="field">
          <label class="input-field-label">Confirm:</label>
          <input class="input-field-input" name="confirm" type="password" autocomplete="off">
        </div>
        {{#chpassError}}
        <div class="chpass-error unlabeled-field">{{chpassError}}</div>
        {{/chpassError}}
        {{#chpassSuccess}}
        <div class="chpass-success unlabeled-field">{{chpassSuccess}}</div>
        {{/chpassSuccess}}
        <input class="unlabeled-field" type="submit" value="Change Password">
      </form>
    </div>
  </body>
</html>
