<!doctype html>
<html>
	<head>
    <meta charset="UTF-8">
		<title>Goule General</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
	</head>
	<body>
    <div id="header">
      <img src="assets/images/icon.png">
      <h1>Goule</h1>
      <ul>
        <li class="other"><a href="/">Tasks</a></li>
        <li class="other"><a href="/rules">Proxy Rules</a></li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="current">General</li>
      </ul>
    </div>
    
    <div id="general">
      
      <form action="/general" method="POST">
        HTTP Port: <input name="http" value="{{http}}">
        <br>
        HTTPS Port: <input name="https" value="{{https}}">
        <br>
        Start HTTP: <input name="starthttp" type="checkbox"
          {{#startHTTP}}checked{{/startHTTP}}>
        <br>
        Start HTTPS: <input name="starthttps" type="checkbox"
          {{#startHTTPS}}checked{{/startHTTPS}}>
        <br>
        <input type="Submit">
      </form>
      
    </div>
	</body>
</html>
