<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule Login</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/login.css">
  </head>
  <body>
    <form method="POST" action="/login">
      <input id="password" type="password" name="password"
        placeholder="password">
      {{#error}}
      <label id="error">Authentication failed.</label>
      {{/error}}
    </form>
  </body>
</html>
