<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule Rules</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/rules.css">
    <!-- Scripts are necessary for adding/removing rules. -->
    <script src="assets/scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    window.app = {};
    </script>
    <script src="assets/scripts/rules.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="header">
      <img src="assets/images/icon.png">
      <h1>Goule</h1>
      <ul>
        <li class="other"><a href="/">Tasks</a></li>
        <li class="current">Proxy Rules</li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="other"><a href="/general">General</a></li>
      </ul>
    </div>
    <div id="rules">
      <button onClick="window.app.addRule()">Add Rule</button>
      <br>
    </div>
  </body>
</html>
