<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule Rules</title>
    <link href='assets/fonts/roboto/imports.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/rules.css">
    <!-- Scripts are necessary for adding/removing rules. -->
    <script src="assets/scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    window.app = {};
    </script>
    <script src="assets/scripts/rules.js" type="text/javascript"></script>
    <script type="text/javascript">
    window.addEventListener('load', function() {
      window.app.loadRules({{{rules}}});
    });
    </script>
  </head>
  <body>
    <div id="header">
      <h1>Goule</h1>
      <ul>
        <li class="other"><a href="/">Tasks</a></li>
        <li class="current"><a href="/rules">Proxy Rules</a></li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="other"><a href="/general">General</a></li>
      </ul>
    </div>
    <div id="rules" class="main-content">
      <button onClick="window.app.addRule()">Add Rule</button>
      <button onClick="window.app.save()">Save</button>
      <br>
    </div>
  </body>
</html>
