<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Goule Tasks</title>
    <link href='assets/fonts/roboto/imports.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/styles/shared.css">
    <link rel="stylesheet" type="text/css" href="assets/styles/tasks.css">
  </head>
  <body>
    <div id="header">
      <h1>Goule</h1>
      <ul>
        <li class="current">Tasks</li>
        <li class="other"><a href="/rules">Proxy Rules</a></li>
        <li class="other"><a href="/tls">TLS</a></li>
        <li class="other"><a href="/general">General</a></li>
      </ul>
    </div>

    <div class="main-content">
    {{#tasks}}
      <div class="task">
        <a class="args" href="/edit_task?index={{index}}">{{args}}</a>
        <a class="action action-{{status}}"
           href="/{{action}}_task?index={{index}}">{{actionName}}</a>
      </div>
    {{/tasks}}
    {{^tasks}}
      <label class="no-tasks">No tasks</label>
    {{/tasks}}
    </div>

    <a id="add-button" href="/add_task">Add</a>
  </body>
</html>
