#header {
  height: 60px;
  background: white;
  padding-left: 10px;
  padding-right: 15px;
  border-bottom: 3px solid #d6d6d6;
}

#header-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  background-image: url('../images/logo.png');
  background-size: 40px 40px;
}

#header-name {
  font-weight: 100;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 12px;
  left: 60px;
}

#header-controls {
  display: none;
  position: absolute;
  right: 10px;
}

.header-tab {
  display: inline-block;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
}

#tab-selector {
  position: absolute;
  height: 3px;
  border-radius: 1.5px;
  top: 60px;
  right: 0;
  background-color: #64bcd4;
}

.generate {
  display: inline-block;
  float: right;
	font-size: 20px;
	width: 130px;
	height: 36px;
	border-radius: 20px;
	background-color: #64bcd4;
	overflow: hidden;
	margin-top: 15px;
}

.generate label {
	position: absolute;
  left: 0;
  right: 0;
	text-align: center;
	height: 36px;
	width: 100%;
	color: white;
	line-height: 36px;
	-webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
}

.generate .random {
	transform: translate(130px, 0px);
	-webkit-transform: translate(130px, 0px);
}

.generate:hover .normal {
  transform: translate(-130px, 0);
	-webkit-transform: translate(-130px, 0);
}

.generate:hover .random {
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}