#login {
  margin-top: 50px;
  display: inline-block;
  width: 420px;
  height: 420px;
  border-radius: 225px;
  background-color: white;
  border: 15px solid #64bcd4;
  text-align: center;
}

#login-lock {
  margin-top: 40px;
  width: 120px;
  height: 120px;
}

#login-input {
  position: absolute;
  top: 200px;
  left: 60px;
  
  width: 250px;
  height: 50px;
  
  display: inline;
  
  outline: none;
  border: 1px solid #64bcd4;
  border-radius: 25px;
  
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0;
  padding-bottom: 0;
  
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  color: #64bcd4;
}

#login-input:focus {
  outline: none;
}
