.separator {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.separator div {
  position: relative;
  background-color: #e5e5e5;
  height: 2px;
  top: 13px;
  z-index: 1;
}

.separator label {
  font-style: italic;
  position: relative;
  display: inline-block;
  background-color: white;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
